Repository Sage/carbon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Sage/carbon, @Sage/carbon-dev, @Sage/carbon-qa, @Sage/carbon-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                        @Sage/carbon

# The Carbon Dev team are responsible for reviewing Pull Requests
# that contain any change modifying JS, JSX, TS or TSX files
*.js                     @Sage/carbon-dev
*.ts                     @Sage/carbon-dev

# The Carbon QA team are responsible for reviewing Pull Requests
# that contain any changes to files within the playwright
# directories or any test files relating to them 
*.pw.tsx                 @Sage/carbon-qa
*.test-pw.tsx            @Sage/carbon-qa
/playwright/             @Sage/carbon-qa
playwright-ct.config.ts  @Sage/carbon-qa

# Codeowners file changes must be approved by a Carbon Admin.
.github/CODEOWNERS       @Sage/carbon-admin

build(npm): update npm version to resolve tar security vulnerability
  package-lock.json
Owners: @Sage/carbon

Revert "chore(storybook): reorder the addon registration to resolve showing the version picker"
  .storybook/manager.ts
Owners: @Sage/carbon-dev

chore(playwright): configure getByTestId to locate data-role tags
  .eslintignore
  .eslintrc
  contributing/testing-guide.md
  playwright-ct.config.ts
  playwright/README.md
  src/components/card/card-footer/__snapshots__/card-footer.spec.tsx.snap
  src/components/dialog-full-screen/components.test-pw.tsx
  src/components/dialog-full-screen/dialog-full-screen.pw.tsx
  src/components/file-input/file-input.pw.tsx
  src/components/icon/icon.component.tsx
  src/components/menu/component.test-pw.tsx
  src/components/menu/menu.pw.tsx
  src/components/message/type-icon/__snapshots__/type-icon.spec.tsx.snap
  src/components/multi-action-button/__snapshots__/multi-action-button.spec.tsx.snap
  src/components/portal/__snapshots__/portal.spec.tsx.snap
  src/components/select/list-action-button/__snapshots__/list-action-button.spec.tsx.snap
  src/components/select/option-group-header/__snapshots__/option-group-header.spec.tsx.snap
  src/components/sidebar/components.test-pw.tsx
  src/components/sidebar/sidebar.pw.tsx
  src/components/vertical-menu/components.test-pw.tsx
  src/components/vertical-menu/vertical-menu.pw.tsx
Owners: @Sage/carbon, @Sage/carbon-qa

chore(icon): add tag props to prop interface
  src/components/icon/icon.component.tsx
  src/components/portal/__snapshots__/portal.spec.tsx.snap
Owners: @Sage/carbon

chore(input): remove inputRef prop
  src/__internal__/input/input.component.tsx
  src/__internal__/input/input.spec.tsx
  src/components/checkbox/checkbox.component.tsx
  src/components/checkbox/checkbox.spec.tsx
  src/components/date/date.component.tsx
  src/components/date/date.spec.tsx
  src/components/decimal/decimal.component.tsx
  src/components/decimal/decimal.spec.tsx
  src/components/grouped-character/grouped-character.component.tsx
  src/components/grouped-character/grouped-character.spec.tsx
  src/components/number/number.component.tsx
  src/components/number/number.spec.tsx
  src/components/radio-button/radio-button.component.tsx
  src/components/radio-button/radio-button.spec.tsx
  src/components/select/filterable-select/filterable-select.component.tsx
  src/components/select/filterable-select/filterable-select.spec.tsx
  src/components/select/multi-select/multi-select.component.tsx
  src/components/select/multi-select/multi-select.spec.tsx
  src/components/select/simple-select/simple-select.component.tsx
  src/components/select/simple-select/simple-select.spec.tsx
  src/components/switch/switch.component.tsx
  src/components/switch/switch.spec.tsx
  src/components/textarea/textarea.component.tsx
  src/components/textarea/textarea.spec.tsx
  src/components/textbox/components.test-pw.tsx
  src/components/textbox/textbox.component.tsx
  src/components/textbox/textbox.pw.tsx
  src/components/textbox/textbox.spec.tsx
Owners: @Sage/carbon, @Sage/carbon-qa

chore(storybook): reorder the addon registration to resolve showing the version picker
  .storybook/manager.ts
  .storybook/version-picker/index.js
Owners: @Sage/carbon-dev

Revert "chore(storybook): reorder the addon registration to resolve showing the version picker"
  .storybook/manager.ts
  .storybook/version-picker/index.js
Owners: @Sage/carbon-dev

fix(submenu): ensure last child in segment title has correct styling
  src/components/menu/__internal__/submenu/submenu.component.tsx
  src/components/menu/__internal__/submenu/submenu.spec.tsx
  src/components/menu/__internal__/submenu/submenu.style.ts
  src/components/menu/component.test-pw.tsx
  src/components/menu/menu-test.stories.tsx
  src/components/menu/menu.pw.tsx
Owners: @Sage/carbon, @Sage/carbon-dev, @Sage/carbon-qa

docs(textbox): remove inputBorderRadius from prop table
  src/components/textbox/textbox.component.tsx
Owners: @Sage/carbon

chore(release): 132.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @Sage/carbon

Notes added by 'git notes add'
  9f/9198475abd930428cdd448c911241a8b3feabe
Owners: @Sage/carbon

chore: remove cypress badge from README
  README.md
Owners: @Sage/carbon

chore: introduce import path alias for root project directory
  babel.config.js
  jest.config.json
  package-lock.json
  package.json
  src/components/accordion/accordion-group/accordion-group.component.tsx
  src/components/accordion/accordion-group/accordion-group.stories.tsx
  src/components/accordion/accordion-test.stories.tsx
  src/components/accordion/accordion.component.tsx
  src/components/accordion/accordion.pw.tsx
  src/components/accordion/accordion.spec.tsx
  src/components/accordion/accordion.stories.tsx
  src/components/accordion/accordion.style.ts
  src/components/accordion/components.test-pw.tsx
  tsconfig.json
Owners: @Sage/carbon-dev, @Sage/carbon, @Sage/carbon-qa
