Repository Sage/carbon, pull requests merged in 2020-08, with the labels that each got.

#3113 fix(notes): update prop types
  src/components/note/__internal__/note.component.js
  src/components/note/__internal__/note.d.ts
  src/components/note/__internal__/note.spec.js
  src/components/note/__internal__/note.stories.mdx
  src/components/note/__internal__/note.style.js
  src/components/note/__internal__/status-with-tooltip/status.style.js
Labels: No UX QA Required, Passed QA, Pending Review, Squad Front End

#3068 docs(rfc): propose i18n upgrade
  rfcs/text/i18n.md
Labels: Final Comments, RFC, Squad Front End

#3119 test(radiobuttongroup,groupedcharacter, numberinput): update tests
  cypress/features/regression/configurableItems.feature
  cypress/features/regression/draggableContext.feature
  cypress/features/regression/experimental/decimalInput.feature
  cypress/features/regression/experimental/groupedCharacter.feature
  cypress/features/regression/experimental/numberInput.feature
  cypress/features/regression/experimental/numberInputActions.feature
  cypress/features/regression/experimental/radioButtonGroup.feature
  cypress/features/regression/experimental/textarea.feature
  cypress/features/regression/experimental/textbox.feature
  cypress/features/regression/test/badge.feature
  cypress/features/regression/test/draggableNoIFrame.feature
  cypress/fixtures/experimental/groupedCharacter.json
  cypress/fixtures/experimental/numberInput.json
  cypress/fixtures/experimental/radioButtonGroup.json
  cypress/locators/radioButton/index.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/configurable-items-steps.js
  cypress/support/step-definitions/detail-steps.js
  cypress/support/step-definitions/grouped-character-steps.js
  cypress/support/step-definitions/number-input-steps.js
  cypress/support/step-definitions/radio-button-steps.js
  cypress/support/step-definitions/text-area-steps.js
Labels: Cypress, Passed Review, Squad Front End

#3115 feat(icon): added 2 new icons, flag and hide
  src/components/icon/fonts/carbon-icons-webfont.woff
  src/components/icon/icon-unicodes.js
  src/style/fonts/carbon-icons-webfont.woff
  src/utils/helpers/options-helper/__spec__.js
  src/utils/helpers/options-helper/options-helper.d.ts
  src/utils/helpers/options-helper/options-helper.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3122 build(deps): [security] bump prismjs up to 1.21.0
  package-lock.json
Labels: No QA Required, No UX QA Required, Passed Review, Squad Front End

#3125 test(table/tableActions/tableWithInputs/Pager): apply new url approach
  cypress/features/regression/table.feature
  cypress/features/regression/tableActions.feature
  cypress/features/regression/tableAjax.feature
  cypress/features/regression/tableWithInputs.feature
  cypress/features/regression/test/pager.feature
  cypress/fixtures/commonComponents/table.json
  cypress/fixtures/test/pager.json
  cypress/locators/pager/index.js
  cypress/locators/table/index.js
  cypress/locators/table/locators.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/pager-steps.js
  cypress/support/step-definitions/table-steps.js
Labels: Cypress, Squad Front End

#3124 test(radiogroup.feature): update cypress test FE-2988
  cypress/features/regression/experimental/radioButtonGroup.feature
  cypress/features/regression/radioButtonMonthly.feature
  cypress/features/regression/radioButtonWeekly.feature
  cypress/features/regression/radioButtonYearly.feature
  cypress/fixtures/experimental/radioButtonGroup.json
  cypress/locators/index.js
  cypress/locators/radioButton/index.js
  cypress/locators/radioButton/locators.js
  cypress/support/index.js
  cypress/support/step-definitions/checkbox-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/radio-button-steps.js
  cypress/support/step-definitions/textbox-steps.js
Labels: Cypress, Squad Front End

#3117 feat(numeral-date): add label and fix onchange method in numeral-date component - FE-2957/FE-3022
  cypress/features/regression/designSystem/numeralDate.feature
  src/__experimental__/components/numeral-date/numeral-date.component.js
  src/__experimental__/components/numeral-date/numeral-date.d.ts
  src/__experimental__/components/numeral-date/numeral-date.spec.js
  src/__experimental__/components/numeral-date/numeral-date.stories.js
  src/__experimental__/components/numeral-date/numeral-date.stories.mdx
  src/__experimental__/components/numeral-date/numeral-date.style.js
  src/utils/helpers/options-helper/options-helper.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3127 test(carousel/confirm/content): apply new approach
  cypress/features/regression/alert.feature
  cypress/features/regression/carousel.feature
  cypress/features/regression/confirm.feature
  cypress/features/regression/confirmActions.feature
  cypress/features/regression/content.feature
  cypress/features/regression/dialog.feature
  cypress/features/regression/dialogFullScreen.feature
  cypress/fixtures/commonComponents/carousel.json
  cypress/fixtures/commonComponents/confirm.json
  cypress/fixtures/commonComponents/content.json
  cypress/locators/carousel/index.js
  cypress/locators/carousel/locators.js
  cypress/locators/confirm/index.js
  cypress/locators/confirm/locators.js
  cypress/locators/content/index.js
  cypress/support/step-definitions/carousel-steps.js
  cypress/support/step-definitions/confirm-steps.js
  cypress/support/step-definitions/content-steps.js
  src/components/confirm/confirm.stories.js
Labels: Cypress, Squad Front End

#3129 test(select, selectmultiple): update a new approach
  cypress/features/regression/experimental/select.feature
  cypress/features/regression/experimental/selectCustomFilter.feature
  cypress/features/regression/experimental/selectMultiple.feature
  cypress/fixtures/experimental/select.json
  cypress/locators/select/index.js
  cypress/support/step-definitions/select-steps.js
Labels: Cypress, Squad Front End

#3123 fix(note): remove min width to allow note to size dynamically
  src/components/note/__internal__/note.spec.js
  src/components/note/__internal__/note.style.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3135 chore(codeowners): assign cypress json files to be owned by qa
  .github/CODEOWNERS
Labels: No QA Required, No UX QA Required, Passed Review, Squad Front End

#3133 test(app-wrapper/button): apply new url approach
  cypress.env.json
  cypress/features/regression/appWrapper.feature
  cypress/features/regression/button.feature
  cypress/features/regression/splitButton.feature
  cypress/features/regression/test/button.feature
  cypress/fixtures/commonComponents/appWrapper.json
  cypress/fixtures/test/button.json
  cypress/locators/app-wrapper/index.js
  cypress/locators/button/index.js
  cypress/support/step-definitions/action-popover-steps.js
  cypress/support/step-definitions/button-steps.js
  cypress/support/step-definitions/multi-action-button-steps.js
Labels: Cypress, Squad Front End

#3142 test(detail/dialog): apply new url approach
  cypress/features/regression/alert.feature
  cypress/features/regression/alertActions.feature
  cypress/features/regression/designSystem/advancedColorPicker.feature
  cypress/features/regression/designSystem/toast.feature
  cypress/features/regression/detail.feature
  cypress/features/regression/dialog.feature
  cypress/features/regression/dialogActions.feature
  cypress/features/regression/dialogFullScreen.feature
  cypress/features/regression/dialogWithStickyFooter.feature
  cypress/features/regression/message.feature
  cypress/features/regression/sidebar.feature
  cypress/features/regression/test/toast.feature
  cypress/fixtures/commonComponents/detail.json
  cypress/fixtures/commonComponents/dialog.json
  cypress/locators/detail/index.js
  cypress/locators/detail/locators.js
  cypress/locators/dialog/index.js
  cypress/locators/index.js
  cypress/support/step-definitions/action-popover-steps.js
  cypress/support/step-definitions/button-steps.js
  cypress/support/step-definitions/button-toggle-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/detail-steps.js
  cypress/support/step-definitions/dialog-full-screen-steps.js
  cypress/support/step-definitions/dialog-steps.js
  cypress/support/step-definitions/flat-table-steps.js
  cypress/support/step-definitions/help-steps.js
  cypress/support/step-definitions/icon-steps.js
  cypress/support/step-definitions/show-edit-pod-steps.js
  src/components/dialog/dialog.stories.js
Labels: Cypress, Squad Front End

#3144 test(pod/pill/portrait): apply new url approach
  cypress/features/regression/pill.feature
  cypress/features/regression/pod.feature
  cypress/features/regression/portrait.feature
  cypress/fixtures/commonComponents/pill.json
  cypress/fixtures/commonComponents/pod.json
  cypress/fixtures/commonComponents/portrait.json
  cypress/locators/pill/index.js
  cypress/locators/pod/index.js
  cypress/locators/portrait/index.js
  cypress/support/step-definitions/pill-steps.js
  cypress/support/step-definitions/pod-steps.js
Labels: Cypress, Squad Front End

#3147 test(button-as-sibling/buttonToggle/card): apply new url approach
  cypress.env.json
  cypress/features/regression/buttonAsSibling.feature
  cypress/features/regression/buttonToggle.feature
  cypress/features/regression/card.feature
  cypress/features/regression/test/buttonAsSibling.feature
  cypress/fixtures/commonComponents/buttonToggle.json
  cypress/fixtures/commonComponents/card.json
  cypress/fixtures/test/buttonAsSibling.json
  cypress/locators/button-toggle/index.js
  cypress/locators/card/index.js
  cypress/support/step-definitions/button-steps.js
  cypress/support/step-definitions/button-toggle-steps.js
  cypress/support/step-definitions/card-steps.js
Labels: Cypress, Squad Front End

#3150 chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No QA Required, No UX QA Required, Passed Review, Squad Front End

#3148 test(help,link,loader,menulist): update cypress with a new approach URL
  cypress/features/regression/help.feature
  cypress/features/regression/link.feature
  cypress/features/regression/loader.feature
  cypress/features/regression/menuList.feature
  cypress/fixtures/commonComponents/help.json
  cypress/fixtures/commonComponents/link.json
  cypress/fixtures/commonComponents/loader.json
  cypress/fixtures/commonComponents/menuList.json
  cypress/locators/confirm/index.js
  cypress/locators/confirm/locators.js
  cypress/locators/heading/index.js
  cypress/locators/heading/locators.js
  cypress/locators/help/index.js
  cypress/locators/index.js
  cypress/locators/link/index.js
  cypress/locators/loader/index.js
  cypress/locators/menu-list/index.js
  cypress/locators/menu-list/locators.js
  cypress/locators/message/index.js
  cypress/locators/message/locators.js
  cypress/locators/pages/index.js
  cypress/locators/pages/locators.js
  cypress/locators/pod/index.js
  cypress/locators/pod/locators.js
  cypress/locators/settings-row/index.js
  cypress/locators/settings-row/locators.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/confirm-steps.js
  cypress/support/step-definitions/flash-steps.js
  cypress/support/step-definitions/heading-steps.js
  cypress/support/step-definitions/help-steps.js
  cypress/support/step-definitions/link-steps.js
  cypress/support/step-definitions/menu-list-steps.js
  cypress/support/step-definitions/message-steps.js
  cypress/support/step-definitions/pages-steps.js
  cypress/support/step-definitions/pod-steps.js
  cypress/support/step-definitions/settings-row-steps.js
  cypress/support/step-definitions/text-area-steps.js
  cypress/support/step-definitions/textbox-steps.js
  cypress/support/step-definitions/toast-steps.js
Labels: Cypress, Squad Front End

#3139 chore(dependancies): resolve high vulnerabilities
  package-lock.json
  package.json
Labels: No UX QA Required, Passed QA, Passed Review, Squad Front End

#3156 test(tile, switch): update cypress tests with a new URL approach
  cypress/features/regression/experimental/checkbox.feature
  cypress/features/regression/experimental/switch.feature
  cypress/features/regression/tile.feature
  cypress/fixtures/commonComponents/tile.json
  cypress/fixtures/experimental/switch.json
  cypress/locators/switch/index.js
  cypress/locators/switch/locators.js
  cypress/locators/tile/index.js
  cypress/locators/tile/locators.js
  cypress/support/step-definitions/checkbox-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/switch-steps.js
  cypress/support/step-definitions/tile-steps.js
Labels: Cypress, Squad Front End

#3154 test(dialog-full-screen/heading): apply new approach
  cypress/features/regression/alert.feature
  cypress/features/regression/confirm.feature
  cypress/features/regression/confirmActions.feature
  cypress/features/regression/dialog.feature
  cypress/features/regression/dialogFullScreen.feature
  cypress/features/regression/dialogFullScreenWithStickyFooter.feature
  cypress/features/regression/experimental/checkbox.feature
  cypress/features/regression/experimental/decimalInput.feature
  cypress/features/regression/experimental/groupedCharacter.feature
  cypress/features/regression/experimental/numberInput.feature
  cypress/features/regression/experimental/radioButtonGroup.feature
  cypress/features/regression/experimental/textarea.feature
  cypress/features/regression/experimental/textbox.feature
  cypress/features/regression/heading.feature
  cypress/features/regression/help.feature
  cypress/features/regression/message.feature
  cypress/features/regression/test/buttonToggleGroup.feature
  cypress/fixtures/commonComponents/dialogFullScreen.json
  cypress/fixtures/commonComponents/heading.json
  cypress/locators/confirm/index.js
  cypress/locators/dialog-full-screen/index.js
  cypress/locators/dialog-full-screen/locators.js
  cypress/locators/dialog/index.js
  cypress/locators/dialog/locators.js
  cypress/locators/heading/index.js
  cypress/locators/index.js
  cypress/support/step-definitions/alert-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/confirm-steps.js
  cypress/support/step-definitions/dialog-full-screen-steps.js
  cypress/support/step-definitions/dialog-steps.js
  cypress/support/step-definitions/heading-steps.js
  cypress/support/step-definitions/sidebar-steps.js
  src/components/dialog-full-screen/dialog-full-screen.stories.js
Labels: Cypress, Squad Front End

#3157 test(cypress): upgrade version to 5.0
  cypress.json
  cypress/features/regression/confirmActions.feature
  cypress/features/regression/dialogFullScreen.feature
  cypress/features/regression/experimental/textbox.feature
  cypress/features/regression/experimental/textboxMultiple.feature
  cypress/features/regression/message.feature
  cypress/features/regression/test/search.feature
  cypress/locators/dialog/index.js
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/dialog-steps.js
  cypress/support/step-definitions/select-steps.js
  package-lock.json
  package.json
Labels: Cypress, Squad Front End

#3160 fix(pager): fix incorrect prop types passed to page size select
  src/components/pager/__snapshots__/pager.spec.js.snap
  src/components/pager/pager.component.js
Labels: No UX QA Required, Passed QA, Passed Review, Squad Front End

#3159 fix(portrait): remove incorrect size propType values - FE-2889
  src/components/portrait/docgenInfo.json
  src/components/portrait/portrait-gravatar.component.js
  src/components/portrait/portrait-initials.component.js
  src/components/portrait/portrait.component.js
  src/components/portrait/portrait.style.js
Labels: No QA Required, No UX QA Required, Passed Review, Squad Front End

#3167 test(split-button/step-sequence/step-sequence-item): apply new url approach
  cypress/features/regression/splitButton.feature
  cypress/features/regression/stepSequence.feature
  cypress/features/regression/stepSequenceItem.feature
  cypress/fixtures/commonComponents/splitButton.json
  cypress/fixtures/commonComponents/stepSequence.json
  cypress/locators/split-button/index.js
  cypress/locators/step-sequence/index.js
  cypress/support/step-definitions/button-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/split-button-steps.js
  cypress/support/step-definitions/step-sequence-steps.js
Labels: Cypress, Squad Front End

#3168 docs(duelling-picklist): story updates
  cypress/support/step-definitions/duelling-picklist-steps.js
  src/components/duelling-picklist/duelling-picklist.stories.js
Labels: No QA Required, No UX QA Required, Passed Review, Squad Front End

#3171 docs(flat-table, drawer): update story
  src/components/drawer/drawer.stories.mdx
  src/components/flat-table/flat-table.stories.mdx
Labels: No QA Required, No UX QA Required, Pending Review, Squad Front End

#3172 docs(pill): update notes
  src/components/pill/documentation/notes.md
Labels: No QA Required, No UX QA Required, Pending Review, Squad Front End

#3158 fix(confirm): fix incorrect button order - FE-2941
  src/components/confirm/confirm.component.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3165 fix(switch): fix switch validation icon overlapping the label - FE-2905
  .storybook/welcome-page/header/header.component.js
  .storybook/welcome-page/welcome.stories.js
  src/__experimental__/components/switch/__snapshots__/switch.spec.js.snap
  src/__experimental__/components/switch/switch.component.js
  src/__experimental__/components/switch/switch.spec.js
  src/__experimental__/components/switch/switch.style.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3174 test(preview/profile/row): apply new url approach
  cypress/features/regression/preview.feature
  cypress/features/regression/profile.feature
  cypress/features/regression/row.feature
  cypress/fixtures/commonComponents/preview.json
  cypress/fixtures/commonComponents/profile.json
  cypress/fixtures/commonComponents/row.json
  cypress/locators/preview/index.js
  cypress/locators/profile/index.js
  cypress/locators/row/index.js
  cypress/support/step-definitions/preview-steps.js
  cypress/support/step-definitions/profile-steps.js
Labels: Cypress, Squad Front End

#3166 fix(storybook): fix various story related errors - FE-2963 / FE-2966
  src/__experimental__/components/decimal/decimal.stories.js
  src/__experimental__/components/fieldset/fieldset.stories.js
  src/__experimental__/components/grouped-character/grouped-character.stories.js
  src/__experimental__/components/number/number.stories.js
  src/__experimental__/components/numeral-date/numeral-date.stories.js
  src/__experimental__/components/simple-color-picker/simple-color-picker.stories.js
  src/__experimental__/components/textbox/textbox.stories.js
  src/components/batch-selection/batch-selection.component.js
  src/components/button-toggle-group/button-toggle-group.stories.js
  src/components/carousel/carousel.stories.js
  src/components/dialog/dialog.stories.js
  src/components/drawer/drawer.stories.mdx
  src/components/flash/flash.stories.js
  src/components/popover-container/popover-container.stories.mdx
  src/components/sidebar/sidebar.stories.js
Labels: No UX QA Required, Passed QA, Passed Review, Squad Front End

#3169 test(message, multiactionbutton, pages): update test with new approach
  cypress/features/regression/message.feature
  cypress/features/regression/multiActionButton.feature
  cypress/features/regression/pages.feature
  cypress/features/regression/pagesActions.feature
  cypress/fixtures/commonComponents/message.json
  cypress/fixtures/commonComponents/multiActionButton.json
  cypress/fixtures/commonComponents/pages.json
  cypress/locators/button/index.js
  cypress/locators/index.js
  cypress/locators/message/index.js
  cypress/locators/multi-action-button/index.js
  cypress/locators/pages/index.js
  cypress/support/step-definitions/button-steps.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/message-steps.js
  cypress/support/step-definitions/multi-action-button-steps.js
  cypress/support/step-definitions/pages-steps.js
Labels: Cypress, Squad Front End

#3175 chore(select): deprecate the experimental select component
  package-lock.json
  package.json
  src/__experimental__/components/select/select.component.js
  src/__experimental__/components/select/select.spec.js
  src/__experimental__/components/select/select.stories.js
  src/__internal__/DeprecationWarning.js
Labels: No UX QA Required, Passed QA, Passed Review, Squad Front End

#3141 feat(tabs, tab): add extendedLine, borders, size, siblings, customLayout
  src/__experimental__/components/form-field/form-field.component.js
  src/__experimental__/components/form-field/form-field.spec.js
  src/components/tabs/__internal__/tab-title/__snapshots__/tab-title.spec.js.snap
  src/components/tabs/__internal__/tab-title/tab-title.component.js
  src/components/tabs/__internal__/tab-title/tab-title.spec.js
  src/components/tabs/__internal__/tab-title/tab-title.style.js
  src/components/tabs/__internal__/tab/tab.component.js
  src/components/tabs/__internal__/tab/tab.d.ts
  src/components/tabs/__internal__/tabs-header/__snapshots__/tabs-header.spec.js.snap
  src/components/tabs/__internal__/tabs-header/tabs-header.component.js
  src/components/tabs/__internal__/tabs-header/tabs-header.spec.js
  src/components/tabs/__internal__/tabs-header/tabs-header.style.js
  src/components/tabs/__internal__/tabs.component.js
  src/components/tabs/__internal__/tabs.d.ts
  src/components/tabs/__internal__/tabs.spec.js
  src/components/tabs/__internal__/tabs.stories.js
  src/components/tabs/__internal__/tabs.stories.mdx
  src/components/tabs/__internal__/tabs.style.js
  src/style/themes/base/base-theme.config.js
Labels: Passed QA, Passed Review, Passed UX QA, Squad Front End

#3181 test(i18n/inline-inputs): apply new url approach
  cypress/features/regression/designSystem/inlineInputs.feature
  cypress/features/regression/i18nComponent.feature
  cypress/fixtures/commonComponents/i18n.json
  cypress/fixtures/designSystem/inlineInputs.json
  cypress/locators/i18n/index.js
  cypress/locators/inline-inputs/index.js
  cypress/locators/inline-inputs/locators.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/i18n-steps.js
  cypress/support/step-definitions/inline-inputs-steps.js
Labels: Cypress, Squad Front End

#3183 test(sidebar, settingsrow,showeditpod): update cypress with new approach
  cypress/features/regression/settingsRow.feature
  cypress/features/regression/showEditPod.feature
  cypress/features/regression/sidebar.feature
  cypress/features/regression/sidebarWithButton.feature
  cypress/fixtures/commonComponents/settingsRow.json
  cypress/fixtures/commonComponents/showEditPod.json
  cypress/fixtures/commonComponents/sidebar.json
  cypress/locators/settings-row/index.js
  cypress/locators/show-edit-pod/index.js
  cypress/locators/show-edit-pod/locators.js
  cypress/locators/sidebar/index.js
  cypress/support/step-definitions/settings-row-steps.js
  cypress/support/step-definitions/show-edit-pod-steps.js
  cypress/support/step-definitions/sidebar-steps.js
Labels: Cypress, Squad Front End

#3184 test(popover-container/search/toast): apply new url approach
  cypress/features/regression/test/popoverContainer.feature
  cypress/features/regression/test/search.feature
  cypress/features/regression/test/toast.feature
  cypress/fixtures/test/popoverContainer.json
  cypress/fixtures/test/search.json
  cypress/fixtures/test/toast.json
  cypress/locators/popover-container/index.js
  cypress/locators/toast/index.js
  cypress/support/step-definitions/search-steps.js
  cypress/support/step-definitions/toast-steps.js
Labels: Cypress, Squad Front End
