Repository Sage/carbon, pull requests merged in 2023-05, with the labels that each got.

#5995 fix(tabs): add type="button" to tab title
  src/components/tabs/__internal__/tab-title/tab-title.component.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5982 test(flat table): add accessibility tests
  cypress/components/flat-table/flat-table.test.js
  cypress/support/accessibility/a11y-utils.ts
  src/components/icon-button/icon-button-test.stories.tsx
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End, flat-table

#5992 Search with button in menu FE-5751
  cypress/components/menu/menu.test.js
  src/components/menu/menu-full-screen/menu-full-screen.component.tsx
  src/components/menu/menu-full-screen/menu-full-screen.spec.tsx
  src/components/menu/menu-item/menu-item.component.tsx
  src/components/menu/menu-item/menu-item.style.ts
  src/components/menu/menu.stories.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5989 test(select): add accessibility tests
  cypress/components/select/filterable-select/filterable-select.test.js
  cypress/components/select/multi-select/multi-select.test.js
  cypress/components/select/simple-select/simple-select.test.js
  cypress/support/accessibility/a11y-utils.ts
  src/components/select/filterable-select/filterable-select-test.stories.tsx
  src/components/select/multi-select/multi-select-test.stories.tsx
  src/components/select/simple-select/simple-select-test.stories.tsx
Labels: Pending Review, Pending QA, Accessibility, Cypress, Squad Front End, select

#6006 test(): add design tokens implementation
  cypress/components/button-bar/button-bar.test.tsx
  cypress/components/textbox/textbox.test.js
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: Passed Review, Passed QA, Cypress, Squad Front End

#5997 chore: convert remaining javascript utils to typescript
  .storybook/docs-helpers/components/deprecation-warning/deprecation-warning.component.tsx
  .storybook/docs-helpers/components/deprecation-warning/index.ts
  .storybook/docs-helpers/components/iframe-wrapper/iframe-wrapper.style.ts
  .storybook/docs-helpers/components/iframe-wrapper/index.js
  .storybook/docs-helpers/components/iframe-wrapper/index.ts
  .storybook/utils/partial-action.ts
  src/__internal__/utils/helpers/events/index.ts
  src/components/action-popover/action-popover.spec.tsx
  src/components/alert/alert.spec.tsx
  src/components/inline-inputs/inline-inputs.spec.tsx
  src/components/select/filterable-select/filterable-select-test.stories.tsx
  src/components/select/multi-select/multi-select-test.stories.tsx
  src/components/show-edit-pod/show-edit-pod.stories.mdx
  src/components/textbox/textbox.component.tsx
  src/hooks/__internal__/useUniqueId/index.ts
  src/hooks/__internal__/useUniqueId/useUniqueId.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5837 feat(password): add new component
  cypress/components/password/password.cy.js
  src/components/button-minor/button-minor.component.tsx
  src/components/button-minor/button-minor.style.ts
  src/components/button-minor/index.ts
  src/components/password/index.ts
  src/components/password/password.component.tsx
  src/components/password/password.spec.tsx
  src/components/password/password.stories.mdx
  src/components/password/password.stories.tsx
  src/components/password/password.style.ts
  src/locales/en-gb.ts
  src/locales/locale.ts
  src/locales/pl-pl.ts
Labels: Passed Review, Passed QA, Accessibility, Passed UX QA, Squad Front End

#6016 chore: update design-tokens package to 4.17.0 - FE-5676
  cypress/components/button-minor/button-minor.cy.js
  cypress/components/button/button.cy.js
  cypress/components/flat-table/flat-table.cy.js
  cypress/components/menu/menu.cy.js
  cypress/components/multi-action-button/multi-action-button.cy.js
  cypress/components/pod/pod.cy.js
  cypress/components/select/multi-select/multi-select.cy.js
  cypress/components/split-button/split-button.cy.js
  cypress/support/component-helper/common-steps.js
  package-lock.json
  package.json
  src/components/portal/__snapshots__/portal.spec.tsx.snap
  src/style/design-tokens/carbon-scoped-tokens-provider/__snapshots__/carbon-scoped-tokens-provider.component.spec.tsx.snap
  src/style/themes/aegean/__snapshots__/aegean-theme.spec.ts.snap
  src/style/themes/mint/__snapshots__/mint-theme.spec.ts.snap
  src/style/themes/none/__snapshots__/none.spec.ts.snap
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6015 fix(select): reset height and width after closing
  src/hooks/__internal__/useFloating/useFloating.spec.tsx
  src/hooks/__internal__/useFloating/useFloating.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6027 test(badge): typescript refactor
  cypress/components/badge/badge.cy.tsx
  src/components/badge/badge-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, badge, typescript

#6026 test(accordion): typescript refactor
  cypress/components/accordion/accordion.cy.tsx
Labels: Passed Review, Pending QA, Cypress, Squad Front End, accordion

#6004 fix(focus-trap): prevent scroll to bottom when tabbing through
  cypress/components/dialog-full-screen/dialog-full-screen.cy.js
  cypress/components/dialog/dialog.cy.js
  cypress/components/menu/menu.cy.js
  cypress/components/sidebar/sidebar.cy.js
  cypress/components/vertical-menu/vertical-menu.cy.js
  cypress/support/commands.ts
  cypress/support/helper.ts
  src/__internal__/focus-trap/focus-trap.component.tsx
  src/components/dialog-full-screen/dialog-full-screen-test.stories.tsx
  src/components/dialog/dialog-test.stories.tsx
  src/components/sidebar/sidebar-test.stories.tsx
  src/components/vertical-menu/vertical-menu-test.stories.tsx
  src/style/global-style.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6031 test(batch-selection): refactor to TS
  cypress/components/batch-selection/batch-selection.cy.tsx
  cypress/components/password/password.cy.js
  src/components/batch-selection/batch-selection-test.stories.tsx
Labels: Passed Review, Pending QA, Cypress, Squad Front End, batch-selection

#6041 test(button-bar): apply new approach of types
  cypress/components/button-bar/button-bar.cy.tsx
Labels: Passed QA, Squad Front End, button-bar

#6035 test(anchor-navigation): typescript refactor
  cypress/components/anchor-navigation/anchor-navigation.cy.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, anchor-navigation, typescript

#6019 test(alert): typescript refactor
  cypress/components/alert/alert.cy.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, alert, typescript

#6038 chore(cypress): convert remaining support utils to typescript (FE-5895)
  cypress/components/accordion/accordion.cy.tsx
  cypress/components/batch-selection/batch-selection.cy.tsx
  cypress/components/box/box.cy.js
  cypress/components/button-bar/button-bar.cy.tsx
  cypress/components/button-minor/button-minor.cy.js
  cypress/components/button-toggle-group/button-toggle-group.cy.js
  cypress/components/button-toggle/button-toggle.cy.js
  cypress/components/button/button.cy.js
  cypress/components/card/card.cy.js
  cypress/components/checkbox/checkbox.cy.js
  cypress/components/confirm/confirm.cy.js
  cypress/components/content/content.cy.tsx
  cypress/components/date/date.cy.js
  cypress/components/definition-list/definition-list.cy.js
  cypress/components/dialog/dialog.cy.js
  cypress/components/dismissible-box/dismissible-box.cy.js
  cypress/components/drawer/drawer.cy.js
  cypress/components/fieldset/fieldset.cy.js
  cypress/components/flat-table/flat-table.cy.js
  cypress/components/form/form.cy.js
  cypress/components/grid/grid.cy.js
  cypress/components/hr/hr.cy.js
  cypress/components/icon/icon.cy.js
  cypress/components/loader-bar/loader-bar.cy.js
  cypress/components/loader/loader.cy.js
  cypress/components/menu/menu.cy.js
  cypress/components/multi-action-button/multi-action-button.cy.js
  cypress/components/number/number.cy.js
  cypress/components/numeral-date/numeral-date.cy.js
  cypress/components/pod/pod.cy.js
  cypress/components/portrait/portrait.cy.js
  cypress/components/preview/preview.cy.js
  cypress/components/profile/profile.cy.js
  cypress/components/radio-button/radiobutton.cy.js
  cypress/components/search/search.cy.js
  cypress/components/select/filterable-select/filterable-select.cy.js
  cypress/components/select/multi-select/multi-select.cy.js
  cypress/components/select/simple-select/simple-select.cy.js
  cypress/components/sidebar/sidebar.cy.js
  cypress/components/switch/switch.cy.js
  cypress/components/tabs/tabs.cy.js
  cypress/components/textarea/textarea.cy.js
  cypress/components/textbox/textbox.cy.js
  cypress/components/tile/tile.cy.js
  cypress/components/tooltip/tooltip.cy.js
  cypress/components/vertical-divider/vertical-divider.cy.js
  cypress/components/vertical-menu/vertical-menu.cy.js
  cypress/support/component-helper/common-steps.js
  cypress/support/component-helper/common-steps.ts
  cypress/support/component-helper/constants.ts
  cypress/support/component-helper/cypress-mount.tsx
  cypress/support/helper.ts
  docs/testing-guide.md
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6048 test(button-toggle): refactor to TS
  cypress/components/button-toggle/button-toggle.cy.tsx
  src/components/button-toggle/button-toggle-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, button-toggle

#6042 test(loader-bar): refactor to typescript
  cypress/components/loader-bar/loader-bar.cy.tsx
  src/components/loader-bar/loader-bar-test.stories.tsx
Labels: Passed Review, Pending QA, Cypress, Squad Front End, loader-bar, typescript

#6036 test(heading): typescript refactor
  cypress/components/badge/badge.cy.tsx
  cypress/components/heading/heading.cy.tsx
  src/components/heading/heading-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, heading

#6029 feat: add feature flag to allow consumers to opt out of rounded corners update
  .storybook/preview.js
  .storybook/withThemeProvider.js
  src/components/box/box.component.tsx
  src/components/carbon-provider/carbon-provider.component.tsx
  src/components/carbon-provider/carbon-provider.spec.tsx
  src/components/loader/loader-square.spec.tsx
  src/components/loader/loader-square.style.ts
  src/components/pill/pill.spec.tsx
  src/components/pill/pill.style.ts
  src/components/portrait/portrait.component.tsx
  src/components/portrait/portrait.spec.tsx
  src/components/portrait/portrait.style.tsx
  src/components/progress-tracker/progress-tracker.config.ts
  src/components/progress-tracker/progress-tracker.spec.tsx
  src/components/progress-tracker/progress-tracker.style.ts
  src/components/switch/__internal__/switch-slider.spec.tsx
  src/components/switch/__internal__/switch-slider.style.ts
  src/style/design-tokens/carbon-scoped-tokens-provider/carbon-scoped-tokens-provider.component.ts
  src/style/design-tokens/generate-css-variables.util.spec.ts
  src/style/design-tokens/generate-css-variables.util.ts
Labels: Pending Review, DO NOT MERGE, Passed QA, Squad Front End

#6043 test(detail): typescript refactor
  cypress/components/detail/detail.cy.tsx
Labels: Passed Review, Pending QA, Cypress, Squad Front End, detail

#6051 test(message): typescript refactor
  cypress/components/message/message.cy.tsx
  src/components/message/message-test.stories.tsx
Labels: Passed Review, Pending QA, Cypress, Squad Front End, message

#6052 test(card): refactor tests to ts
  cypress/components/card/card.cy.tsx
  src/components/card/card-test.stories.tsx
  src/components/card/card.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, card

#6057 test(decimal): refactor tests to ts
  cypress/components/decimal/decimal.cy.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, decimal

#6061 test(link): typescript refactor
  cypress/components/link/link.cy.tsx
  src/components/link/link-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, link

#6062 test(checkbox): typescript refactor
  cypress/components/checkbox/checkbox.cy.tsx
  src/components/checkbox/checkbox-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, typescript

#6018 fix - action popover nested buttons
  cypress/components/action-popover/action-popover.cy.js
  cypress/locators/action-popover/index.js
  src/components/action-popover/action-popover-item/action-popover-item.component.tsx
  src/components/action-popover/action-popover.spec.tsx
  src/components/action-popover/action-popover.style.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6071 test(loader): typescript refactor
  cypress/components/loader/loader.cy.tsx
  src/components/loader/loader-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, loader
