Repository Sage/carbon, pull requests merged in 2023-01, with the labels that each got.

#5714 test: remove hardcoded year from utils unit tests - FE-5594
  src/components/date/__internal__/utils.spec.js
Labels: Passed Review, No QA Required, Squad Front End

#5709 test(button-bar): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/button-bar/button-bar-test.stories.tsx
  src/components/button-bar/button-bar.config.ts
  src/components/button-bar/button-bar.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End

#5722 test(batch-selection): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/batch-selection/batch-selection-test.stories.mdx
  src/components/batch-selection/batch-selection-test.stories.tsx
  src/components/batch-selection/batch-selection.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End

#5728 test(check_rfcs): ensure NODE_ENV is set correctly for test checking that API call is not made
  scripts/check_rfcs/check_rfcs.spec.js
Labels: Pending Review, No QA Required, No UX QA Required, Squad Front End

#5725 test(badge): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/badge/badge.test.js
Labels: Passed QA, Accessibility, Cypress, Squad Front End, badge

#5721 fix(progress-tracker): add deprecation warnings for orientation and direction props
  src/components/progress-tracker/progress-tracker.component.js
  src/components/progress-tracker/progress-tracker.spec.js
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5731 chore(action-popover): add missing import to fix broken story
  src/components/action-popover/action-popover.stories.mdx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5654 refactor(batch-selection): ts conversion - FE-4767
  src/components/batch-selection/__snapshots__/batch-selection.spec.js.snap
  src/components/batch-selection/batch-selection-test.stories.tsx
  src/components/batch-selection/batch-selection.component.tsx
  src/components/batch-selection/batch-selection.d.ts
  src/components/batch-selection/batch-selection.spec.tsx
  src/components/batch-selection/batch-selection.stories.mdx
  src/components/batch-selection/batch-selection.stories.tsx
  src/components/batch-selection/batch-selection.style.ts
  src/components/batch-selection/index.d.ts
  src/components/batch-selection/index.js
  src/components/batch-selection/index.ts
Labels: Passed Review, Passed QA, Squad Front End

#5733 test(carousel): refactor for accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/carousel/carousel-test.stories.tsx
  src/components/carousel/carousel.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End

#5732 fix(page): replace incorrect article tag with div (FE-5602)
  src/components/pages/page/page.component.tsx
  src/components/pages/page/page.style.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End, pages

#5743 test(card): fix for flaky test
  src/components/card/card.test.js
Labels: Passed Review, Passed QA, Cypress, Squad Front End, card

#5602 refactor(tooltip): make tooltips use floating-ui package - FE-5498
  cypress/locators/radiobutton/locators.js
  cypress/locators/tooltip/index.js
  cypress/locators/tooltip/locators.js
  package-lock.json
  package.json
  src/__internal__/tooltip-provider/index.tsx
  src/components/button-toggle-group/button-toggle-group.test.js
  src/components/button/button.component.tsx
  src/components/button/button.test.js
  src/components/decimal/decimal.test.js
  src/components/duelling-picklist/duelling-picklist.test.js
  src/components/fieldset/fieldset.test.js
  src/components/help/help.spec.tsx
  src/components/icon-button/icon-button.spec.tsx
  src/components/icon/icon.spec.tsx
  src/components/icon/icon.test.js
  src/components/link/link.test.js
  src/components/note/__internal__/status-icon/status.spec.tsx
  src/components/note/note.test.js
  src/components/numeral-date/numeral-date.test.js
  src/components/switch/switch.test.js
  src/components/tabs/tabs.test.js
  src/components/text-editor/__internal__/toolbar/toolbar.spec.js
  src/components/textarea/textarea.test.js
  src/components/textbox/textbox.test.js
  src/components/tooltip/__snapshots__/tooltip.spec.tsx.snap
  src/components/tooltip/tooltip-pointer.style.ts
  src/components/tooltip/tooltip.component.tsx
  src/components/tooltip/tooltip.spec.tsx
  src/components/tooltip/tooltip.style.ts
  src/components/tooltip/tooltip.test.js
  src/hooks/__internal__/useFloating/useFloating.ts
Labels: Passed Review, Passed QA, Squad Front End, tooltip

#5741 test(confirm): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/confirm/confirm-test.stories.tsx
  src/components/confirm/confirm.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, confirm

#5713 fix(dialog): fix incorrect focus trap behaviour with ag-grid - FE-5497
  package-lock.json
  package.json
  src/__internal__/focus-trap/focus-trap-utils.ts
  src/__internal__/focus-trap/focus-trap.component.tsx
  src/__internal__/focus-trap/focus-trap.spec.tsx
Labels: Passed Review, Passed QA, Squad Front End

#5736 fix(form): update onSubmit type
  src/components/form/form.component.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5735 test(advanced-color-picked): refactor for accessibility test
  cypress/support/accessibility/a11y-utils.js
  src/components/advanced-color-picker/advanced-color-picker.test.js
Labels: Pending Review, Pending QA, Accessibility, Cypress, advanced-color-picker

#5727 test(flat table): add refactored tests for flat table FE-4540
  .github/workflows/cypress.yml
  cypress/README.md
  cypress/e2e/common/flatTable.feature
  cypress/fixtures/commonComponents/flatTable.json
  cypress/fixtures/commonComponents/simpleColorSelect.json
  cypress/locators/flat-table/index.js
  cypress/locators/flat-table/locators.js
  cypress/support/step-definitions/common-steps.js
  cypress/support/step-definitions/flat-table-steps.js
  src/components/flat-table/flat-table.test.js
Labels: Passed Review, Passed QA, Cypress, Squad Front End, flat-table

#5729 fix(tile-select-group): implement conditional rendering for the Description prop
  src/components/tile-select/tile-select-group.component.js
  src/components/tile-select/tile-select.spec.js
  src/components/tile-select/tile-select.test.js
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End, tile-select

#5711 docs(): remove args for specialCharacters
  src/__internal__/utils/argTypes/specialCharacters.ts
  src/components/badge/badge-test.stories.tsx
  src/components/button-toggle/button-toggle-test.stories.tsx
  src/components/button/button-test.stories.mdx
  src/components/checkbox/checkbox-test.stories.tsx
  src/components/confirm/confirm-test.stories.tsx
  src/components/content/content-test.stories.mdx
  src/components/date-range/date-range-test.stories.mdx
  src/components/detail/detail-test.stories.mdx
  src/components/dialog-full-screen/dialog-full-screen-test.stories.tsx
  src/components/dialog/dialog-test.stories.tsx
  src/components/fieldset/fieldset-test.stories.tsx
  src/components/flat-table/flat-table-test.stories.mdx
  src/components/grouped-character/grouped-character-test.stories.tsx
  src/components/heading/heading-test.stories.mdx
  src/components/help/help-test.stories.tsx
  src/components/icon/icon-test.stories.tsx
  src/components/inline-inputs/inline-inputs.stories.mdx
  src/components/link/link-test.stories.tsx
  src/components/loader/loader-test.stories.tsx
  src/components/message/message-test.stories.tsx
  src/components/multi-action-button/multi-action-button-test.stories.tsx
  src/components/navigation-bar/navigation-bar-test.stories.mdx
  src/components/pager/pager-test.stories.tsx
  src/components/pill/pill-test.stories.tsx
  src/components/pod/pod-test.stories.mdx
  src/components/popover-container/popover-container-test.stories.tsx
  src/components/portrait/portrait-test.stories.tsx
  src/components/preview/preview-test.stories.tsx
  src/components/profile/profile-test.stories.tsx
  src/components/search/search-test.stories.tsx
  src/components/select/multi-select/multi-select-test.stories.tsx
  src/components/select/simple-select/simple-select-test.stories.js
  src/components/settings-row/settings-row-test.stories.mdx
  src/components/show-edit-pod/show-edit-pod-test.stories.js
  src/components/sidebar/sidebar-test.stories.tsx
  src/components/simple-color-picker/simple-color-picker-test.stories.tsx
  src/components/split-button/split-button-test.stories.js
  src/components/step-sequence/step-sequence-test.stories.tsx
  src/components/switch/switch-test.stories.tsx
  src/components/textarea/textarea-test.stories.tsx
  src/components/textbox/textbox-test.stories.tsx
  src/components/toast/toast-test.stories.tsx
  src/components/tooltip/tooltip-test.stories.mdx
Labels: Passed Review, Passed QA, Cypress, Squad Front End

#5739 test(preview): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/preview/preview.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End, preview

#5529 Sage/DSY 1671 progress tracker update
  cypress/locators/progress-tracker/index.js
  src/components/progress-tracker/progress-tracker-test.stories.js
  src/components/progress-tracker/progress-tracker.component.js
  src/components/progress-tracker/progress-tracker.d.ts
  src/components/progress-tracker/progress-tracker.spec.js
  src/components/progress-tracker/progress-tracker.stories.mdx
  src/components/progress-tracker/progress-tracker.style.js
  src/components/progress-tracker/progress-tracker.test.js
  src/locales/en-gb.ts
  src/locales/locale.ts
  src/locales/pl-pl.ts
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End, progress-tracker

#5752 test: update cypress dependencies
  .storybook/preview.js
  cypress.config.js
  cypress/docker-compose.yml
  cypress/support/e2e.js
  package-lock.json
  package.json
  src/components/advanced-color-picker/advanced-color-picker.test.js
  src/components/flat-table/flat-table.test.js
  src/components/heading/heading.test.js
  src/components/help/help.test.js
  src/components/icon/icon.test.js
Labels: Passed Review, Passed QA, Cypress, Squad Front End

#5751 test(detail): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/detail/detail.test.js
Labels: Pending Review, Pending QA, Accessibility, Cypress, detail

#5742 refactor: update useMediaQuery to use non deprecated event (FE-5226)
  src/__spec_helper__/mock-match-media.d.ts
  src/__spec_helper__/mock-match-media.ts
  src/hooks/useMediaQuery/useMediaQuery.spec.tsx
  src/hooks/useMediaQuery/useMediaQuery.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5484 refactor(pod): convert component code to typescript
  cypress/locators/pod/index.js
  cypress/locators/pod/locators.js
  cypress/locators/show-edit-pod/index.js
  cypress/locators/show-edit-pod/locators.js
  src/__internal__/utils/helpers/events/events.spec.ts
  src/__internal__/utils/helpers/events/events.ts
  src/components/pod/__snapshots__/pod.spec.js.snap
  src/components/pod/index.d.ts
  src/components/pod/index.js
  src/components/pod/index.ts
  src/components/pod/pod-test.stories.mdx
  src/components/pod/pod-test.stories.tsx
  src/components/pod/pod.component.js
  src/components/pod/pod.component.tsx
  src/components/pod/pod.config.js
  src/components/pod/pod.config.ts
  src/components/pod/pod.d.ts
  src/components/pod/pod.spec.js
  src/components/pod/pod.spec.tsx
  src/components/pod/pod.stories.mdx
  src/components/pod/pod.stories.tsx
  src/components/pod/pod.style.js
  src/components/pod/pod.style.ts
  src/components/pod/pod.test.js
  src/components/show-edit-pod/show-edit-pod.spec.js
  src/components/show-edit-pod/show-edit-pod.style.js
  src/components/show-edit-pod/show-edit-pod.test.js
  src/locales/en-gb.ts
  src/locales/locale.ts
  src/locales/pl-pl.ts
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5745 feat(inline-inputs): add required prop (FE-5584)
  src/components/inline-inputs/inline-inputs.component.tsx
  src/components/inline-inputs/inline-inputs.spec.tsx
  src/components/inline-inputs/inline-inputs.stories.mdx
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5765 chore(deps): update design tokens dependency
  package-lock.json
  package.json
  src/components/portal/__snapshots__/portal.spec.tsx.snap
  src/style/design-tokens/carbon-scoped-tokens-provider/__snapshots__/carbon-scoped-tokens-provider.component.spec.tsx.snap
  src/style/themes/aegean/__snapshots__/aegean-theme.spec.ts.snap
  src/style/themes/mint/__snapshots__/mint-theme.spec.ts.snap
  src/style/themes/none/__snapshots__/none.spec.ts.snap
Labels: Passed Review, No QA Required, No UX QA Required, Squad Front End

#5759 test(loader): refactor for accessibility test
  cypress/support/accessibility/a11y-utils.js
  src/components/loader/loader-test.stories.tsx
  src/components/loader/loader.test.js
Labels: Passed Review, Passed QA, Accessibility, loader

#5756 fix(note): fix text overlapping inlineControl button (FE-5611)
  src/components/note/note.component.tsx
  src/components/note/note.spec.tsx
  src/components/note/note.style.ts
Labels: Passed Review, Pending QA, Passed UX QA, No UX QA Required, Squad Front End

#5748 feat(pill): add custom aria-label functionality in remove button (FE-5600)
  src/components/pill/pill.component.tsx
  src/components/pill/pill.spec.tsx
  src/components/pill/pill.stories.mdx
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5761 test(help): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/help/help.test.js
Labels: Pending QA, Accessibility, Cypress, Squad Front End, help

#5629 Sage/DSY-1748 Remove Designer Notes
  src/components/accordion/accordion.stories.mdx
  src/components/action-popover/action-popover.stories.mdx
  src/components/alert/alert.stories.mdx
  src/components/anchor-navigation/anchor-navigation.stories.mdx
  src/components/badge/badge.stories.mdx
  src/components/button-toggle-group/button-toggle-group.stories.mdx
  src/components/button-toggle/button-toggle.stories.mdx
  src/components/button/button.stories.mdx
  src/components/card/card.stories.mdx
  src/components/carousel/carousel.stories.mdx
  src/components/checkbox/checkbox-validations.stories.mdx
  src/components/checkbox/checkbox.stories.mdx
  src/components/confirm/confirm.stories.mdx
  src/components/date-range/date-range-test.stories.mdx
  src/components/date-range/date-range.stories.mdx
  src/components/date/date.stories.mdx
  src/components/decimal/decimal.stories.mdx
  src/components/dialog-full-screen/dialog-full-screen.stories.mdx
  src/components/dialog/dialog.stories.mdx
  src/components/draggable/draggable.stories.mdx
  src/components/drawer/drawer.stories.mdx
  src/components/duelling-picklist/duelling-picklist.stories.mdx
  src/components/flat-table/flat-table.stories.mdx
  src/components/global-header/global-header.stories.mdx
  src/components/grid/grid.stories.mdx
  src/components/icon/icon.stories.mdx
  src/components/link/link.stories.mdx
  src/components/loader-bar/loader-bar.stories.mdx
  src/components/loader/loader.stories.mdx
  src/components/menu/menu.stories.mdx
  src/components/multi-action-button/multi-action-button.stories.mdx
  src/components/navigation-bar/navigation-bar.stories.mdx
  src/components/note/note.stories.mdx
  src/components/pager/pager.stories.mdx
  src/components/pill/pill.stories.mdx
  src/components/pod/pod.stories.mdx
  src/components/portrait/portrait.stories.mdx
  src/components/profile/profile.stories.mdx
  src/components/progress-tracker/progress-tracker.stories.mdx
  src/components/radio-button/radio-button.stories.mdx
  src/components/search/search.stories.mdx
  src/components/select/filterable-select/filterable-select.stories.mdx
  src/components/select/multi-select/multi-select.stories.mdx
  src/components/select/simple-select/simple-select.stories.mdx
  src/components/show-edit-pod/show-edit-pod.stories.mdx
  src/components/sidebar/sidebar.stories.mdx
  src/components/simple-color-picker/simple-color-picker.stories.mdx
  src/components/split-button/split-button.stories.mdx
  src/components/step-sequence/step-sequence.stories.mdx
  src/components/switch/switch.stories.mdx
  src/components/tabs/tabs.stories.mdx
  src/components/text-editor/text-editor.stories.mdx
  src/components/textarea/textarea.stories.mdx
  src/components/textbox/textbox.stories.mdx
  src/components/toast/toast.stories.mdx
  src/components/tooltip/tooltip.stories.mdx
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5772 test(toast): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/toast/toast-test.stories.tsx
  src/components/toast/toast.test.js
Labels: Passed Review, Passed QA, Cypress, Squad Front End, toast

#5767 test(dialog-full-screen): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/dialog-full-screen/dialog-full-screen-test.stories.tsx
  src/components/dialog-full-screen/dialog-full-screen.stories.tsx
  src/components/dialog-full-screen/dialog-full-screen.test.js
Labels: Pending Review, Pending QA, Accessibility, Cypress, dialog-full-screen

#5755 feat(pager): surface hideDisabledElements prop to ensure disabled elements are hidden
  src/components/pager/__internal__/pager-navigation-link.component.tsx
  src/components/pager/__internal__/pager-navigation.component.tsx
  src/components/pager/pager.component.tsx
  src/components/pager/pager.spec.tsx
  src/components/pager/pager.stories.mdx
  src/components/pager/pager.stories.tsx
  src/components/pager/pager.style.tsx
  src/components/pager/pager.test.js
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5773 feat(icon): 20 new icons added to the icon font
  src/components/icon/__snapshots__/icon-unicodes.spec.js.snap
  src/components/icon/fonts/carbon-icons-webfont.woff
  src/components/icon/icon-config.ts
  src/components/icon/icon-type.ts
  src/components/icon/icon-unicodes.js
  src/style/assets/carbon-icons-webfont.woff
Labels: Passed Review, Passed QA, Passed UX QA

#5763 fix(dialog): remove left offset on small screens (FE-5496)
  src/components/dialog/dialog.component.tsx
  src/components/dialog/dialog.spec.tsx
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5770 feat: add new VerticalMenu component - FE-5619
  cypress/locators/vertical-menu/index.js
  cypress/locators/vertical-menu/locators.js
  cypress/support/accessibility/a11y-utils.js
  src/components/vertical-menu/index.ts
  src/components/vertical-menu/vertical-menu-full-screen.component.tsx
  src/components/vertical-menu/vertical-menu-full-screen.context.ts
  src/components/vertical-menu/vertical-menu-full-screen.spec.tsx
  src/components/vertical-menu/vertical-menu-item.component.tsx
  src/components/vertical-menu/vertical-menu-item.spec.tsx
  src/components/vertical-menu/vertical-menu-test.stories.tsx
  src/components/vertical-menu/vertical-menu-trigger.component.tsx
  src/components/vertical-menu/vertical-menu-trigger.spec.tsx
  src/components/vertical-menu/vertical-menu.component.tsx
  src/components/vertical-menu/vertical-menu.spec.tsx
  src/components/vertical-menu/vertical-menu.stories.mdx
  src/components/vertical-menu/vertical-menu.stories.tsx
  src/components/vertical-menu/vertical-menu.style.ts
  src/components/vertical-menu/vertical-menu.test.js
  src/locales/en-gb.ts
  src/locales/locale.ts
  src/locales/pl-pl.ts
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End, Passed a11y Review, vertical-menu

#5785 test(sidebar): refactor accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/sidebar/sidebar-test.stories.tsx
  src/components/sidebar/sidebar.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End, sidebar

#5780 test(message): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/message/message.test.js
Labels: Pending QA, Accessibility, Cypress, Squad Front End, message

#5737 fix(text-editor): add tabIndex 0 to editor container and update types for value and onChange FE-5582
  src/components/dialog/dialog-test.stories.tsx
  src/components/dialog/dialog.test.js
  src/components/text-editor/text-editor.component.js
  src/components/text-editor/text-editor.d.ts
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5757 feat(loader,loader-bar): display loading message if user has opt-ed to reduced motion
  src/components/loader-bar/loader-bar.component.tsx
  src/components/loader-bar/loader-bar.spec.tsx
  src/components/loader-bar/loader-bar.stories.mdx
  src/components/loader-bar/loader-bar.style.ts
  src/components/loader/loader.component.tsx
  src/components/loader/loader.spec.tsx
  src/components/loader/loader.stories.mdx
  src/components/switch/__internal__/__snapshots__/switch-slider.spec.tsx.snap
  src/components/switch/__internal__/switch-slider.style.ts
  src/components/switch/switch.component.tsx
  src/components/switch/switch.style.ts
  src/locales/en-gb.ts
  src/locales/locale.ts
  src/locales/pl-pl.ts
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#5776 docs: change favicon from Storybook to Carbon logo
  .assets/android-chrome-192x192.png
  .assets/apple-touch-icon.png
  .assets/browserconfig.xml
  .assets/favicon-16x16.png
  .assets/favicon-32x32.png
  .assets/favicon.ico
  .assets/mstile-150x150.png
  .assets/safari-pinned-tab.svg
  .assets/site.webmanifest
  .storybook/manager-head.html
  .storybook/sageTheme.js
  .storybook/welcome-page/get-started/get-started.component.js
  .storybook/welcome-page/header/header.component.js
  CONTRIBUTING.md
Labels: Passed Review, Docs

#5758 chore(button): add deprecation warning to dashed button - FE-5360
  src/components/button/__snapshots__/button.spec.tsx.snap
  src/components/button/button.component.tsx
  src/components/button/button.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5788 test(date): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/date/date.test.js
Labels: Passed Review, Passed QA, Accessibility, Cypress, Squad Front End, date

#5781 test(card): add accessibility tests
  cypress/support/accessibility/a11y-utils.js
  src/components/card/card-test.stories.tsx
  src/components/card/card.test.js
Labels: Pending Review, Pending QA, Accessibility, Cypress, card
