Repository Sage/carbon, pull requests merged in 2023-06, with the labels that each got.

#6067 test(confirm): typescript refactor
  cypress/components/confirm/confirm.cy.tsx
  src/components/confirm/confirm-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, confirm

#6054 Icon font updates - 20px size / New brand style / 2 new icons
  src/components/button/__snapshots__/button.spec.tsx.snap
  src/components/card/card-footer/__snapshots__/card-footer.spec.tsx.snap
  src/components/flat-table/flat-table-row/flat-table-row.style.js
  src/components/icon/__snapshots__/icon-unicodes.spec.js.snap
  src/components/icon/fonts/carbon-icons-webfont.woff
  src/components/icon/icon-config.ts
  src/components/icon/icon-type.ts
  src/components/icon/icon-unicodes.js
  src/components/message/type-icon/__snapshots__/type-icon.spec.tsx.snap
  src/components/multi-action-button/__snapshots__/multi-action-button.spec.tsx.snap
  src/components/portal/__snapshots__/portal.spec.tsx.snap
  src/components/select/list-action-button/__snapshots__/list-action-button.spec.tsx.snap
  src/components/select/option-group-header/__snapshots__/option-group-header.spec.tsx.snap
  src/style/assets/carbon-icons-webfont.woff
Labels: Passed Review, Passed QA, Passed UX QA, icon

#6078 docs: fix broken Design Tokens link
  docs/colors.stories.mdx
Labels: Passed Review, No QA Required, No UX QA Required, Squad Front End

#6074 test(global-header): refactor ts
  cypress/components/global-header/global-header.cy.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, typescript

#6076 test(draggable): typescript refactor
  cypress/components/draggable/draggable.cy.js
  cypress/components/draggable/draggable.cy.tsx
  src/components/draggable/draggable-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, typescript

#6084 test(number): refactor tests to TS
  cypress/components/number/number.cy.tsx
  cypress/components/textarea/textarea.cy.tsx
  cypress/components/textbox/textbox.cy.tsx
  src/components/number/number-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, number, typescript

#6086 fix(multi-action-button): remove unused props from interface
  src/components/multi-action-button/multi-action-button.component.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6020 chore: update dependencies
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Labels: Pending Review, No QA Required, No UX QA Required, Squad Front End

#6082 test(drawer): typescript refactor
  cypress/components/drawer/drawer.cy.tsx
  src/components/drawer/drawer-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, drawer

#6034 fix(menu): ensure onSubmenuOpen is only called once when the submenu opens
  cypress/components/menu/menu.cy.js
  src/components/menu/__internal__/submenu/submenu.component.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6089 test(pager): refactor tests to ts
  cypress/components/pager/pager.cy.tsx
  src/components/pager/pager-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, pager

#6097 test(pill): refactor tests to TS
  cypress/components/pill/pill.cy.tsx
  src/components/pill/pill-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, pill, typescript

#6093 test(settings-row): refactor ts
  cypress/components/settings-row/settings-row.cy.tsx
  src/components/settings-row/settings-row-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, settings-row, typescript

#6095 test(duelling-picklist): typescript refactor
  cypress/components/duelling-picklist/duelling-picklist.cy.tsx
  src/components/duelling-picklist/duelling-picklist-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, typescript

#6106 fix(crumb): ensure all props in interface are passed down and remove href as required prop FE-6006
  cypress/components/breadcrumbs/breadcrumbs.cy.js
  src/components/breadcrumbs/breadcrumbs.component.tsx
  src/components/breadcrumbs/breadcrumbs.spec.tsx
  src/components/breadcrumbs/breadcrumbs.stories.mdx
  src/components/breadcrumbs/breadcrumbs.style.ts
  src/components/breadcrumbs/crumb/crumb.component.tsx
  src/components/breadcrumbs/crumb/crumb.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6102 test(fieldset): refactor ts
  cypress/components/fieldset/fieldset.cy.tsx
  src/components/fieldset/fieldset-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, fieldset, typescript

#6060 feat(flat-table): update keyboard navigation behaviour when rows are focusable FE-5773
  cypress/components/flat-table/flat-table.cy.js
  src/components/flat-table/__snapshots__/flat-table.spec.js.snap
  src/components/flat-table/flat-table-cell/flat-table-cell.component.js
  src/components/flat-table/flat-table-checkbox/flat-table-checkbox.component.js
  src/components/flat-table/flat-table-checkbox/flat-table-checkbox.spec.js
  src/components/flat-table/flat-table-row-header/flat-table-row-header.component.js
  src/components/flat-table/flat-table-row/__snapshots__/flat-table-row.spec.js.snap
  src/components/flat-table/flat-table-row/flat-table-row.component.js
  src/components/flat-table/flat-table-row/flat-table-row.spec.js
  src/components/flat-table/flat-table-row/flat-table-row.style.js
  src/components/flat-table/flat-table.component.js
  src/components/flat-table/flat-table.spec.js
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#6064 fix(numeral-date): remove superfluous css from component - FE-5888
  src/components/numeral-date/numeral-date-test.stories.tsx
  src/components/numeral-date/numeral-date.spec.tsx
  src/components/numeral-date/numeral-date.style.ts
Labels: Passed Review, Pending QA, No UX QA Required, Squad Front End

#6100 test(preview): typescript refactor
  cypress/components/preview/preview.cy.tsx
  src/components/preview/preview-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, preview, typescript

#6033 feat(message): enable component to be programmatically focused - FE-5727
  cypress/components/message/message.cy.tsx
  cypress/locators/message/index.js
  cypress/locators/message/locators.js
  src/components/message/message-test.stories.tsx
  src/components/message/message.component.tsx
  src/components/message/message.spec.tsx
  src/components/message/message.stories.mdx
  src/components/message/message.stories.tsx
  src/components/message/message.style.ts
Labels: Passed Review, Passed QA, Pending UX QA, Squad Front End

#6112 test(numeral-date): refactor to TS
  cypress/components/numeral-date/numeral-date.cy.tsx
  src/components/numeral-date/numeral-date-test.stories.tsx
Labels: Passed QA, Cypress, Squad Front End, numeral-date, typescript

#6113 test(profile): typescript refactor
  cypress/components/profile/profile.cy.tsx
  src/components/profile/profile-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, profile

#6119 test(note): typescript refactor
  cypress/components/note/note.cy.tsx
  src/components/note/note-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, note, typescript

#6120 test(hr): typescript refactor
  cypress/components/hr/hr.cy.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, hr, typescript

#6103 feat(search): add searchButtonAriaLabel prop to component - FE-5880
  cypress/components/search/search.cy.js
  src/components/search/search.component.tsx
  src/components/search/search.spec.tsx
  src/components/search/search.stories.mdx
  src/components/search/search.stories.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6121 test(typography): refactor to TS
  cypress/components/fieldset/fieldset.cy.tsx
  cypress/components/loader-bar/loader-bar.cy.tsx
  cypress/components/message/message.cy.tsx
  cypress/components/note/note.cy.tsx
  cypress/components/typography/typography.cy.tsx
  package.json
Labels: Passed Review, Passed QA, Cypress, Squad Front End, typography, typescript

#6118 test(grid): typescript refactor
  cypress/components/grid/grid.cy.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, grid, typescript

#6127 test(image): refactor to TS
  cypress/components/button-toggle/button-toggle.cy.tsx
  cypress/components/image/image.cy.tsx
  package.json
Labels: Passed Review, Passed QA, Cypress, Squad Front End, image, typescript

#6129 test(toast): typescript refactor
  cypress/components/toast/toast.cy.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, typescript

#6114 fix(button): render falsy children
  src/components/button/button.component.tsx
Labels: Passed Review, Passed QA, No UX QA Required, third-party

#6134 test(inline-inputs): refactor to TS
  cypress/components/inline-inputs/inline-inputs.cy.tsx
  src/components/inline-inputs/inline-inputs-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, inline-inputs

#6136 chore(storybook): ensure toolbars have titles - FE-6030
  .storybook/preview.js
  .storybook/withThemeProvider.js
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6138 test(icon-button): typescript refactor
  cypress/components/icon-button/icon-button.cy.tsx
  src/components/icon-button/icon-button-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, Squad Front End, icon-button, typescript

#6132 test(search): refactor ts
  cypress/components/search/search.cy.tsx
  src/components/search/search-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, search, typescript

#6135 ci: update actions versions
  .github/workflows/chromatic-push.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/semantic-commit-lint.yml
  .github/workflows/semantic-release.yml
  .github/workflows/storybook.yml
Labels: Passed Review, Passed QA, Squad Front End

#6144 ci: revert for chromatic action
  .github/workflows/chromatic-push.yml
Labels: Passed Review, Squad Front End, Chromatic

#6137 test(pod): ts refactor
  cypress/components/pod/pod.cy.tsx
  src/components/pod/pod-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, pod

#6139 test(navigation-bar): refactor ts
  cypress/components/navigation-bar/navigation-bar.cy.tsx
  src/components/navigation-bar/navigation-bar-test.stories.mdx
  src/components/navigation-bar/navigation-bar-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, navigation-bar, typescript

#6148 test(progress-tracker): refactor to TS
  cypress/components/progress-tracker/progress-tracker.cy.tsx
  cypress/components/search/search.cy.tsx
  src/components/progress-tracker/progress-tracker-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, progress-tracker

#6151 test(breadcrumbs): refactor to TS
  cypress/components/breadcrumbs/breadcrumbs.cy.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, breadcrumb

#6154 docs(password): import translation keys table
  src/components/password/password.stories.mdx
Labels: Passed Review, Passed QA, Docs, Squad Front End, password

#6145 test(popover-container): typescript refactor
  cypress/components/popover-container/popover-container.cy.tsx
  src/components/popover-container/popover-container-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, popover-container, typescript

#6142 fix(decimal): ensure empty value is formatted correctly - FE-5892
  cypress/components/decimal/decimal.cy.tsx
  src/components/decimal/decimal.component.tsx
  src/components/decimal/decimal.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6149 test(radio-button): refactor ts
  cypress/components/radio-button/radio-button.cy.tsx
  src/components/radio-button/radio-button-test.stories.tsx
  src/components/radio-button/radio-button.stories.tsx
Labels: Passed Review, Passed QA, Cypress, radio-button, typescript

#6156 test(simple-color-picker): refactor tests to ts
  cypress/components/simple-color-picker/simple-color-picker.cy.tsx
  src/components/simple-color-picker/simple-color-picker-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, simple-color-picker

#6153 fix(flat-table): ensure window does not scroll when using up and down arrow keys to navigate rows
  src/components/flat-table/flat-table.component.js
  src/components/flat-table/flat-table.spec.js
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6150 test(dialog): typescript refactor
  cypress/components/dialog/dialog.cy.tsx
  src/components/dialog/dialog-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, typescript

#6163 docs: update action reports
  src/components/decimal/decimal-test.stories.tsx
  src/components/grouped-character/grouped-character-test.stories.tsx
  src/components/number/number-test.stories.tsx
  src/components/numeral-date/numeral-date-test.stories.tsx
  src/components/search/search-test.stories.tsx
Labels: Passed Review, Passed QA, Docs, Squad Front End
