Repository Sage/carbon, pull requests merged in 2023-07, with the labels that each got.

#6111 docs: update carbon public roadmap
  cypress/components/carbon-provider/carbon-provider.cy.js
  docs/development-roadmap.stories.mdx
  docs/getting-started.stories.mdx
  docs/installation.stories.mdx
  docs/roadmap.stories.mdx
  docs/usage.stories.mdx
  src/components/carbon-provider/carbon-provider-test.stories.tsx
  src/components/carbon-provider/carbon-provider.component.tsx
  src/components/carbon-provider/carbon-provider.stories.mdx
  src/components/carbon-provider/carbon-provider.stories.tsx
  src/style/themes/index.ts
Labels: Pending Review, Passed QA, No UX QA Required, Squad Front End

#6165 feat(icon): 28 new icons added to the icon font
  src/components/icon/__snapshots__/icon-unicodes.spec.js.snap
  src/components/icon/fonts/carbon-icons-webfont.woff
  src/components/icon/icon-config.ts
  src/components/icon/icon-type.ts
  src/components/icon/icon-unicodes.js
  src/style/assets/carbon-icons-webfont.woff
Labels: Passed Review, Passed QA, Passed UX QA

#6167 test(vertical-divider): refactor tests to ts
  cypress/components/vertical-divider/vertical-divider.cy.js
  cypress/components/vertical-divider/vertical-divider.cy.tsx
  src/components/vertical-divider/vertical-divider-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, vertical-divider, typescript

#6141 fix(menu): make submenu scrollable when inside a fixed navigation bar
  cypress/components/menu/menu.cy.js
  cypress/support/commands.ts
  src/__spec_helper__/mock-resize-observer.ts
  src/components/advanced-color-picker/advanced-color-picker.spec.tsx
  src/components/button-toggle/button-toggle.spec.tsx
  src/components/button/button.spec.tsx
  src/components/checkbox/checkbox.spec.tsx
  src/components/date-range/date-range.spec.js
  src/components/date/date.spec.js
  src/components/decimal/decimal.spec.tsx
  src/components/dialog-full-screen/dialog-full-screen.spec.tsx
  src/components/dialog/dialog.spec.tsx
  src/components/draggable/draggable.spec.tsx
  src/components/duelling-picklist/picklist-group/picklist-group.spec.tsx
  src/components/flat-table/sort/sort.spec.js
  src/components/global-header/global-header.component.tsx
  src/components/grouped-character/grouped-character.spec.tsx
  src/components/menu/__internal__/submenu/submenu.component.tsx
  src/components/menu/__internal__/submenu/submenu.spec.tsx
  src/components/menu/__internal__/submenu/submenu.style.ts
  src/components/menu/menu-test.stories.tsx
  src/components/modal/__internal__/modal-manager.spec.ts
  src/components/modal/modal.spec.tsx
  src/components/multi-action-button/multi-action-button.spec.tsx
  src/components/navigation-bar/fixed-navigation-bar-context.spec.tsx
  src/components/navigation-bar/fixed-navigation-bar.context.tsx
  src/components/navigation-bar/navigation-bar.component.tsx
  src/components/navigation-bar/navigation-bar.style.ts
  src/components/number/number.spec.tsx
  src/components/numeral-date/numeral-date.spec.tsx
  src/components/popover-container/popover-container.spec.tsx
  src/components/radio-button/radio-button.spec.tsx
  src/components/search/search.spec.tsx
  src/components/select/filterable-select/filterable-select.spec.tsx
  src/components/select/multi-select/multi-select.spec.tsx
  src/components/select/simple-select/simple-select.spec.tsx
  src/components/show-edit-pod/show-edit-pod.spec.js
  src/components/simple-color-picker/simple-color-picker.spec.tsx
  src/components/split-button/split-button.spec.tsx
  src/components/switch/switch.spec.tsx
  src/components/tabs/__internal__/tab-title/tab-title.spec.tsx
  src/components/text-editor/__internal__/toolbar/toolbar.spec.tsx
  src/components/textarea/textarea.spec.tsx
  src/components/textbox/textbox.spec.tsx
  src/components/vertical-menu/vertical-menu-item.spec.tsx
  src/hooks/__internal__/useResizeObserver/useResizeObserver.spec.tsx
  src/hooks/__internal__/useScrollBlock/useScrollBlock.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#5988 feat(button bar): add support for rendering button minor children
  cypress/components/button-bar/button-bar.cy.tsx
  cypress/components/button-minor/button-minor.cy.js
  cypress/components/password/password.cy.js
  cypress/locators/button/index.js
  cypress/locators/button/locators.js
  src/components/button-bar/button-bar-test.stories.tsx
  src/components/button-bar/button-bar.spec.tsx
  src/components/button-bar/button-bar.stories.mdx
  src/components/button-bar/button-bar.stories.tsx
  src/components/button-bar/button-bar.style.ts
  src/components/button-minor/button-minor.component.tsx
  src/components/button-minor/button-minor.spec.tsx
  src/components/button-minor/button-minor.style.ts
  src/components/button/__snapshots__/button.spec.tsx.snap
  src/components/card/card-footer/__snapshots__/card-footer.spec.tsx.snap
  src/components/icon/icon-config.ts
  src/components/message/type-icon/__snapshots__/type-icon.spec.tsx.snap
  src/components/multi-action-button/__snapshots__/multi-action-button.spec.tsx.snap
  src/components/portal/__snapshots__/portal.spec.tsx.snap
  src/components/select/list-action-button/__snapshots__/list-action-button.spec.tsx.snap
  src/components/select/option-group-header/__snapshots__/option-group-header.spec.tsx.snap
Labels: Passed Review, Pending QA, Passed UX QA

#6159 test(sidebar): refactor ts
  cypress/components/sidebar/sidebar.cy.tsx
  src/components/sidebar/sidebar-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, sidebar, typescript

#6155 fix(menu-full-screen): ensure menu-divider is not rendered for empty children - FE-6012
  cypress/components/menu/menu.cy.js
  src/components/menu/menu-full-screen/menu-full-screen.component.tsx
  src/components/menu/menu-full-screen/menu-full-screen.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6040 test(button-minor): refactor to ts
  cypress/components/accordion/accordion.cy.tsx
  cypress/components/button-minor/button-minor.cy.tsx
  src/components/button-minor/button-minor-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, button-minor

#6169 test(select): typescript refactor
  cypress/components/select/filterable-select/filterable-select.cy.tsx
  cypress/components/select/multi-select/multi-select.cy.tsx
  cypress/components/select/simple-select/simple-select.cy.tsx
  src/components/select/filterable-select/filterable-select-test.stories.tsx
  src/components/select/multi-select/multi-select-test.stories.tsx
  src/components/select/simple-select/simple-select-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, select, typescript

#6179 chore: disable storybook telemetry
  .storybook/main.js
Labels: Passed Review, No QA Required, No UX QA Required, Squad Front End

#6176 test(split-button): typescript refactor
  cypress/components/split-button/split-button.cy.js
  cypress/components/split-button/split-button.cy.tsx
  src/components/split-button/split-button-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, split-button, typescript

#6178 test(vertical-menu): refactor tests to TS
  cypress/components/vertical-menu/vertical-menu.cy.tsx
  src/components/vertical-menu/vertical-menu-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, vertical-menu

#6186 test(tile): typescript refactor
  cypress/components/tile/tile.cy.tsx
  src/components/tile/tile-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, tile, typescript

#6189 test(box): refactor cypress tests to typescript
  cypress/components/box/box.cy.tsx
  src/components/box/box-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, box, typescript

#6196 test(password): refactor to ts
  cypress/components/password/password.cy.tsx
  src/components/password/password-test.stories.tsx
  src/components/password/password.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, typescript, password

#6202 test(date): refactor to ts
  cypress/components/date/date.cy.tsx
  cypress/support/component-helper/cypress-mount.tsx
  src/components/date/date-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, date, typescript

#6185 fix(decimal): replace row-reverse with row when text is right aligned
  cypress/components/decimal/decimal.cy.tsx
  cypress/components/textbox/textbox.cy.tsx
  src/__internal__/input/input-presentation.component.tsx
  src/__internal__/input/input-presentation.style.ts
  src/components/decimal/decimal.spec.tsx
  src/components/decimal/decimal.stories.mdx
  src/components/decimal/decimal.stories.tsx
  src/components/textbox/textbox.component.tsx
  src/components/textbox/textbox.spec.tsx
Labels: Passed Review, Passed QA, Passed UX QA, decimal

#6210 test(date-range): refactor to ts
  cypress/components/date-range/date-range.cy.tsx
  src/components/date-range/date-range-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, date-range, typescript

#6207 test(flat-table): typescript refactor
  cypress/components/flat-table/flat-table.cy.js
  cypress/components/flat-table/flat-table.cy.tsx
  src/components/flat-table/flat-table-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, flat-table, typescript

#6200 test(dialog-full-screen): refactor ts
  cypress/components/dialog-full-screen/dialog-full-screen.cy.tsx
  src/components/dialog-full-screen/dialog-full-screen-test.stories.tsx
Labels: Pending Review, Pending QA, Cypress, dialog-full-screen, typescript

#6190 fix: icon alignments and pill updates
  cypress/components/pill/pill.cy.tsx
  src/components/badge/badge.style.ts
  src/components/menu/menu-item/menu-item.style.ts
  src/components/pill/pill.spec.tsx
  src/components/pill/pill.stories.tsx
  src/components/pill/pill.style.ts
  src/components/portrait/portrait.config.ts
  src/components/simple-color-picker/simple-color/simple-color.style.ts
Labels: Passed Review, Passed QA, Passed UX QA

#6198 test(menu): typescript refactor
  cypress/components/menu/menu.cy.tsx
  src/components/menu/menu-test.stories.tsx
Labels: Pending Review, Passed QA, Cypress, Squad Front End, menu, typescript

#6205 fix(menu): ensure menu remains open when enter is pressed on search - FE-6035
  cypress/components/menu/menu.cy.tsx
  src/__internal__/utils/helpers/events/events.ts
  src/components/menu/__internal__/submenu/submenu.component.tsx
  src/components/menu/__internal__/submenu/submenu.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6177 feat(radio-button): add support for new validation - FE-5753
  src/__internal__/fieldset/fieldset.component.tsx
  src/components/checkbox/checkbox.component.tsx
  src/components/checkbox/checkbox.style.ts
  src/components/radio-button/radio-button-group.component.tsx
  src/components/radio-button/radio-button-group.spec.tsx
  src/components/radio-button/radio-button-group.style.ts
  src/components/radio-button/radio-button.component.tsx
  src/components/radio-button/radio-button.stories.mdx
  src/components/radio-button/radio-button.stories.tsx
  src/components/textbox/textbox.style.ts
Labels: Passed Review, Passed QA, Passed UX QA, Squad Front End

#6213 test(definition-list): typescript refactor
  cypress/components/definition-list/definition-list.cy.tsx
  src/components/definition-list/definition-list-test.stories.tsx
Labels: Passed Review, Passed QA, Cypress, Squad Front End, definition-list, typescript

#6188 fix(dialog, sidebar): use aria-hidden and inert to hide non-modal elements
  src/components/dialog-full-screen/dialog-full-screen.component.tsx
  src/components/dialog/dialog.component.tsx
  src/components/sidebar/sidebar.component.tsx
  src/components/toast/toast.component.tsx
  src/components/toast/toast.spec.tsx
  src/hooks/__internal__/useModalAria/index.ts
  src/hooks/__internal__/useModalAria/useModalAria.spec.tsx
  src/hooks/__internal__/useModalAria/useModalAria.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End

#6203 fix(switch): ensure invariant is not thrown when loading and validation is set
  src/__internal__/checkable-input/checkable-input.component.tsx
  src/__internal__/form-field/form-field.component.tsx
  src/components/switch/switch.component.tsx
  src/components/switch/switch.spec.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End, switch

#6218 docs(box): ensure stories using box only use its documented props
  src/components/button/button-test.stories.tsx
  src/components/password/password.stories.tsx
Labels: Passed Review, Passed QA, No UX QA Required, Squad Front End
